\documentclass{article}

\begin{document}

%%begin
%%!(Преамбула договора)> 
%%!> { town }

\section{Преамбула договора}

г. {{ town }}

%%(Стороны договора)> *Внимание!*
%%> 
%%> Не перепутайте стороны договора. Продавец — это тот, кто продает товар или услугу, а покупатель — тот, кто покупает.
%%> { buyer, seller }


\begin{enumerate}

\item Гражданин {{ buyer.name }} {{ buyer.surname }}, далее именумый «Покупатель»

\item Гражданин {{ seller.name }} {{ seller.surname }}, далее именуемый «Продавец»

\end{enumerate}

%%end

\end{document}