@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  @apply overflow-hidden;
  @apply antialiased;
}

html,
body,
#root {
  @apply w-full h-full m-0 p-0;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
